<template name="Default_header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper main-nav">
                <a href="/" class="feedback-logo"><img src="/assets/FeedbackMeLogo.svg" /></a>
                <ul id="nav-mobile" class="hide-on-med-and-down c-center-align">
                    <li><a href="#" id="teacher">Teacher</a></li>
                    <li><a href="#" id="student">Student</a></li>
                    <li><a href="#" id="admin">Admin</a></li>
                </ul>

                <!-- imports hidden modal -->
                {{> Signin_modal}}

                <ul id="nav-mobile" class="hide-on-med-and-down right">
                    <li><a href="#" id="openSigninModal">Log In</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>
