<template name="Signin_modal">

    <!-- Signin Modal -->
    <div id="signinModal" class="signin-modal">

        <!-- Modal content -->
        <div class="signin-modal-content">
            <div class="modal-header">
                <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
                <p class="signin-modal-title">LOG IN</p>
                <p class="signin-modal-desc">I am a ...</p>
            </div>

            <div class="modal-body">

                <div class="student-role-card" style="height: 25vh">
                    <img src="/assets/school-bus.svg" class="role-image"/>
                    <a id="student" href="/register/student">
                        <p class="role-label">
                            Student <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: 15px"></i>
                        </p>
                    </a>
                </div>

                <div class="teacher-role-card" style="height: 25vh">
                    <img src="/assets/school.svg" class="role-image"/>
                    <a id="teacher" href="/register/teacher">
                        <p class="role-label">
                            Teacher <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: 15px"></i>
                        </p>
                    </a>
                </div>

                <div class="clear"></div>
            </div>

        </div>
    </div>

</template>
