<template name="Student_header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper main-nav">
                <a href="#" class="brand-logo">STUDENT</a>
                <ul id="nav-mobile" class="hide-on-med-and-down c-center-align">
                    <li><a href="#">Teacher</a></li>
                    <li><a href="#">Student</a></li>
                    <li><a href="#">Admin</a></li>
                </ul>

                <ul id="nav-mobile" class="hide-on-med-and-down right">
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>
