<template name="Teacher_signup">
    <div class="content">
        <div class="card center-card-signup hoverable">
            <div class="card-content center-align">
                <h4>Welcome, Teacher!</h4>
                    <form class="form-signin flow-form">
                        <div class="bg-grey">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="prefName" type="text" class="validate" name="prefName" placeholder="My Students call me...">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" name="email" placeholder="My email is">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" name="password" placeholder="And my password">
                                </div>
                            </div>
                        </div>
                        <div class="form-footer-login">
                            <p id="error-label-signup"></p>
                            <input type="submit" value="Sign Up" class="signup-submit button-round">
                            <p style="margin-top: 15px; margin-left: 10px;">
                                Already have an account? <a href="#" class="go-to-login"><strong>Login</strong></a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</template>
