<template name="Teacher_join">
    <div style="height: 400px; width:400px;">
      <h1>Join</h1>
      <!-- <form class="form-join">
        Class Code: <input type="text" name="classCode"><br>
        <p id="error-label-join"></p>
        <input type="submit" value="next" class="student_code-submit">
        Already have an account? <a href="#" class="go-to-login">Login</a>
      </form> -->

      <h1> EDIT ME FOR TEACHER SIGN IN | SIGN UP FLOW, MY LOGIC IS HALF BAKED </h1>
    </div>
</template>
