<template name="Teacher_header">
    <div class="navbar-side-fixed col-two-thirds-1">
        <a href="#"><img src="/assets/Dashboard.svg" /></a>
        <a href="#"><img src="/assets/FeedbackForms.svg" /></a>
        <a href="#"><img src="/assets/Classes.svg" /></a>

        <div class="navbar-side-content-bottom">
            <a href="#" class="logout"><img src="/assets/Profile.svg" /></a>
            <!-- <a href="#" class="logout">Log Out</a> -->
            <a href="#"><img src="/assets/Settings.svg" /></a>
        </div>
    </div>
</template>
