<template name="App_body">

    {{#if currentUser}}

        {{#if isInRole 'student' 'student-group'}}
            <div class="container">
                {{> Student_header}}

                <!-- MAIN CONTENT HERE -->
                {{> Template.dynamic template=main}}
            </div>

        {{/if}}

        {{#if isInRole 'teacher' 'teacher-group'}}
            <div class="container">
                {{> Teacher_header}}

                <!-- MAIN CONTENT HERE -->
                {{> Template.dynamic template=main}}
            </div>

        {{/if}}
    {{else}}
        {{> Default_header}}

        <!-- MAIN CONTENT HERE -->
        {{> Template.dynamic template=main}}
    {{/if}}


</template>
