<template name="App_body">
    <div class="container">
        <!--  Set Nav bar -->
        {{#if currentUser}}
            <!-- {{#if isInRole 'student'}} -->
                    <!-- {{> Student_header}} -->
            <!-- {{/if}} -->

            <!-- {{#if isInRole 'teacher'}} -->
                    {{> Teacher_header}}
            <!-- {{/if}} -->
        {{else}}
            {{> Default_header}}

        {{/if}}

        <!-- MAIN CONTENT HERE -->
        {{> Template.dynamic template=main}}

        <!-- {{> Footer}} -->
    </div>
</template>
