@import './colors.less';

.go-to-login, .go-to-join {
  transition: color 0.20s ease-out;
  color: @color-cyan;
}

.go-to-login:hover, .go-to-join:hover {
  transition: color 0.20s ease-in;
  color: @color-cyan-dark;
}

.clear {
    clear: both;
}
